<div class="container">

  <div class="row m-3">
    <div class="col-md-6 offset-md-3">
      <mat-card>
        <div class="container text-center">
          <img src="../../../assets/medical-team.png" alt="logo" class="w-25">
        </div>
        <h3 class="text-center">Register Here</h3>

        <form ngNativeValidate #signup='ngForm' (ngSubmit)="formSubmit()">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>User Name</mat-label>
            <input matInput placeholder="Enter here" type="text" name="username" [(ngModel)]="user.username" required>
            <mat-hint>Username must be unique !!</mat-hint>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>User Password</mat-label>
            <input matInput placeholder="Enter here" type="password" name="password" [(ngModel)]="user.password"
              required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter here" type="text" name="name" [(ngModel)]="patient.name" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Age</mat-label>
            <input matInput placeholder="Enter here" type="number" name="age" [(ngModel)]="patient.age" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email Address</mat-label>
            <input matInput placeholder="Enter here" type="email" name="email" [(ngModel)]="patient.email" required>
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Enter here" type="number" name="phone" [(ngModel)]="patient.phone" required>
          </mat-form-field>
          <!--
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Role</mat-label>
            <input matInput ng-readonly="all" placeholder="Patient" type="number" name="phone" value="patient"
              [(ngModel)]="user.role" required>
          </mat-form-field> -->

          <div class="container">
            <label>Gender: </label><br>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                [(ngModel)]="patient.gender" value="male">
              <label class="form-check-label" for="flexRadioDefault1">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                [(ngModel)]="patient.gender" value="female">
              <label class="form-check-label" for="flexRadioDefault2">
                Female
              </label>
            </div>
          </div>
          <!--
          <label for="doctor">Choose a doctor:</label>
          <select id="doctor" name="doctor" class="form-control" [(ngModel)]="patient.gender">
            <option *ngFor="let item of doctorData" [value]="item.name">{{"Dr. " +item.name}}</option>
          </select> -->

          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary" class="m-2">Register</button>
            <button type="reset" mat-raised-button color="accent" class="m-2">Clear</button>
          </div>
          <a style="color:rgb(88, 14, 14); margin-top:10px" class="justify-content-center text-center"
            routerLink="/login">Already registered?
            Click to Login</a>
        </form>
      </mat-card>
    </div>
  </div>

</div>
